/*----------------------------------------------------------------
GLOBAL 
---------------------------------------------------------------- */
* {
  box-sizing: border-box;
}


.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img,
iframe,
video {
  max-width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h2 {
  margin-top: 0;
}

/*----------------------------------------------------------------
STRUCTURE 
---------------------------------------------------------------- */

body {
  background-color: white;
}

.conteneur {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

select {
  text-align: center;
}

input,
button,
select {
  border-radius: 10px;
  padding: 2px 10px;
  margin: 5px 10px;
}

#userdatas {
  position: relative
}

#userdatas section {
  position: absolute;
  top: 0;
  width: 100%;
}



/*----------------------------------------------------------------
MAIN
---------------------------------------------------------------- */

#data-tasks,
#data-albums,
#data-posts,
#users {
  margin: 10px auto;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 15px;
  transform-origin: top left;
  overflow: hidden;
  background-color: lightgray;
}

#userinfo {
  margin-top: 15px;
  margin-bottom: 15px;
}

#usercard {
  max-width: 450px;
  padding: 10px 10px;
  transform-origin: center center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: lightseagreen;
}

#buttons {
  justify-content: space-around;
}

.suppr {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.image {
  padding: 5px 5px;
  margin: 10px 10px;
  text-align: center;
  width: 200px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 15px;
}

.image img {
  border-radius: 15px;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment figure:nth-child(odd) {
  text-align: right;
  align-self: flex-end;
}

.comment figure:nth-child(even) {
  align-self: flex-start;
}

.comment figure {
  margin: 10px 10px;
  border: 1px solid black;
  border-radius: 15px;
  max-width: 500px;
}

.posts li {
  cursor: pointer;
}

article {
  margin: 5px 15px;
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid black;
}

figure,
article {
  background-color: white;
}

.appear-rotate-enter-active {
  transition: all .5s ease-in-out;
}

.appear-rotate-leave-active {
  transition: all .8s ease-in-out;
  transition: border 0.1s;
}

.appear-rotate-enter {
  opacity: 0;
  transform: rotate(-90deg) scale(0) translateX(1500px);
}

.appear-rotate-enter-to {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.appear-rotate-leave {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.appear-rotate-leave-to {
  opacity: 0;
  transform: rotate(-90deg) scale(0);
}


.appear-up-enter-active {
  transition: all .5s ease-in-out;
}

.appear-up-leave-active {
  transition: all .1s ease-in-out;
  transition: border 0.2s;
}

.appear-up-enter {
  opacity: 0;
  transform: translateX(-300px) scale(0);
}

.appear-up-enter-to {
  opacity: 1;
  transform: translateX(0px) scale(1);
}

.appear-up-leave {
  opacity: 1;
  transform: translateX(0px) scale(1);
}

.appear-up-leave-to {
  opacity: 0;
  transform: translateX(-300px) scale(0);
}